body {
  background-image: url("img/J2.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  position: absolute;
  padding: 30px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  display: block;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.16);
  margin: 0;
  width: 96%;
  left: 0;
  bottom: 0;
}
.row {
  display: flex;
  flex-direction: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.mon,
.tue,
.wed,
.thu,
.fri,
.sat,
.sun {
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.224);
  background-color: rgba(0, 0, 0, 0.402);

  border-bottom-width: thin;
  box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.351);
  font-weight: 400;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.895);

  padding: 8px 15px;
  cursor: pointer;
  font-size: 15px;
  margin: 0 auto;
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6,
.icon7 {
  font-size: 50px;

  margin: 0 auto;
}
.temp1,
.temp2,
.temp3,
.temp4,
.temp5,
.temp6,
.temp7 {
  font-size: 21px;

  color: rgba(238, 238, 238, 0.751);
  text-shadow: rgba(0, 0, 0, 0.362) 1px 0 7px;

  font-family: "Montserrat";
  font-weight: 400;
}
.min-temp1,
.min-temp2,
.min-temp3,
.min-temp4,
.min-temp5,
.min-temp6,
.min-temp7 {
  font-family: "Montserrat";
  color: rgba(219, 218, 218, 0.628);
  font-size: 17px;
  font-weight: 400;
}

#search {
  /* position: absolute;
 */
  border-radius: 20px;
  position: relative;
  width: 700px;
  top: 10px;
  left: calc(50% - 400px);

  padding: 8px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.258);
  background: rgba(180, 180, 180, 0.425);
  box-shadow: 0px 9px 30px rgba(82, 41, 85, 0.295);
  transition: all 300ms ease-in-out;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;

  text-align: left;
}
::placeholder {
  color: #1d1c27dc;
}
#search:hover {
  background: linear-gradient(
    135deg,
    rgba(199, 199, 199, 0.311),
    rgba(176, 176, 176, 0.311)
  );
  box-shadow: 0px 9px 30px rgba(39, 19, 41, 0.345);
  cursor: pointer;
  color: rgba(17, 14, 17, 0.853);
}
.search-button {
  background-color: #2d2c3da4;
  border: 1px solid #3433477d;
  top: 10px;
  color: #d6d6d6;
  padding: 13px;
  transition: all 200ms ease-in-out;
  border-radius: 20px;
  box-shadow: rgba(49, 49, 49, 0.334) 1px 0 7px;
  position: relative;
  left: 24%;
  font-family: "Montserrat";
  font-weight: 400;
  transition: all 300ms ease-in-out;
}
.search-button:hover {
  background-color: rgba(215, 215, 215, 0.598);
  border: 1px solid rgba(134, 134, 134, 0.703);
  color: #2a2939;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 2%;
  margin-inline-end: 2%;
}
.left,
.right {
  font-family: "Montserrat", sans-serif;
  display: block;
  padding-top: 28px;
}

.maneicon {
  width: 120px;
}
.pm {
  font-size: 23px;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.838);
  text-shadow: rgba(0, 0, 0, 0.349) 1px 0 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
small .temperature,
.units {
  font-size: 60px;
  float: right;

  font-weight: 500;
  color: rgba(255, 255, 255, 0.838);
  text-shadow: rgba(0, 0, 0, 0.288) 1px 0 7px;
  line-height: 2;
}

.units {
  line-height: 4;

  font-size: 20px;
  position: relative;
  float: inline-end;

  color: rgba(255, 255, 255, 0.838);
  text-shadow: rgba(0, 0, 0, 0.288) 1px 0 7px;
}

.data {
  font-style: italic;
  color: rgba(255, 253, 253, 0.64);
  padding: 15px;
}
.city {
  font-weight: 500;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.838);
  text-shadow: rgba(0, 0, 0, 0.288) 1px 0 7px;
  font-family: "Montserrat", sans-serif;
}

.time {
  font-weight: 500;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.838);
  text-shadow: rgba(0, 0, 0, 0.349) 1px 0 7px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.buttons {
  margin-left: 45px;
  margin-top: 15px;
}
.first-button,
.second-button {
  padding: 17px 26px;
  margin: 15px auto 15px auto;

  font-size: 14px;
  border-bottom-width: thin;

  transition: all 200ms ease-in-out;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.334) 1px 0 7px;
}
.first-button {
  background-color: #3d3b53ba;
  border: 1px solid #343347;
  color: rgb(255, 255, 255);
}
.second-button {
  background-color: rgba(255, 255, 255, 0.688);
  border: 1px solid rgb(255, 255, 255);
  color: #343347;
  margin-left: 10px;
}
.first-button:hover {
  cursor: pointer;

  background-color: #353348;
}
.second-button:hover {
  cursor: pointer;

  background-color: rgb(255, 255, 255);
}

.description {
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-left: 3%;
  color: rgba(255, 255, 255, 0.838);
  text-shadow: rgba(0, 0, 0, 0.37) 1px 0 7px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0.2em;
}
ul {
  padding: 0;
  margin: 0;
}
.weather-conditions:first-letter {
  text-transform: capitalize;
}

.source {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.845);
  text-shadow: 5px 5px 10px rgba(151, 151, 151, 0.614);
}
a {
  text-decoration: none;
  color: rgba(164, 211, 10, 0.947);
}
